    body{
        background-color: rgb(74, 23, 162);
    }    
    h1{
        color:azure;
    }
    table, th, td{
        border: 2px dashed rgb(23, 210, 210);
        text-align: center;
        color: whitesmoke;
    }
    p{
        color: azure;
    }
    a{
        color: aqua;
    }
    ul{
        color: aliceblue;
    }
    h2{
        color: aliceblue
    }
    img{
        width: 200px;
    }